.container-wrapper {
  margin-top: 13vh;
}
.container-wrapper .section-container {
  border-radius: 1.5vh;
  padding: 4vh 0.5vw;
  background-image: linear-gradient(to bottom right, #020926, #032e30, #075b24);
}
.container-wrapper .section-container article {
  font-size: 1.9em;
}
.container-wrapper .section-container article a {
  color: #efe143;
}
.container-wrapper .section-container article header {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.container-wrapper .section-container article header h2 {
  letter-spacing: 0.1vw;
  margin-bottom: 30px;
  text-shadow: 2px 2px 1px black;
  text-align: center;
  line-height: 2em;
  font-weight: 800;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}
.container-wrapper .section-container article ul li {
  margin-bottom: 5vh;
}
.container-wrapper .section-container article p, .container-wrapper .section-container article div ul li, .container-wrapper .section-container article div ol li {
  font-size: 1.2em;
  margin: 3.5vh 0;
  text-shadow: 2px 2px 1px black;
  line-height: 1.5em;
}
.container-wrapper .section-container article div ul li p, .container-wrapper .section-container article div ol li p {
  font-size: 1em;
}
.container-wrapper .section-container article blockquote {
  background-image: linear-gradient(to bottom right, #020926, #032628, #053e19);
  margin: 2.5vh 0 3vh 0;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  padding: 1.5vh 2vh 1.5vh 2vh;
}
.container-wrapper .section-container article blockquote p {
  text-align: center;
  padding: 1.5vh 2vh 1.5vh 2vh;
  letter-spacing: 0.1vw;
  margin: 0;
}
.container-wrapper .section-container article blockquote p span b {
  font-size: 120%;
  line-height: 1.5em;
}
.container-wrapper .section-container article figure {
  margin: 30px auto;
  width: fit-content;
}
.container-wrapper .section-container article figure img {
  border: #012a22 5px solid;
  padding: 0;
  box-shadow: 3px 3px 5px black;
  margin: 10px auto;
}
.container-wrapper .section-container article figure figcaption {
  font-size: 70%;
}
.container-wrapper .section-container article p {
  margin-bottom: 2vh;
}

aside.explore {
  background-color: rgba(4, 40, 42, 0.7);
}

section.related {
  position: fixed;
  padding: 2em;
  left: 80%;
  top: 30%;
  width: 300px;
  transform: translateX(-50%);
}
section.related p {
  font-size: 1.2em;
  margin-bottom: 4.5vh;
  text-shadow: 2px 2px 1px black;
  line-height: 1.5em;
  background-color: rgba(4, 16, 16, 0.7);
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .container-wrapper .section-container article header h2 {
    font-size: 1.1em;
    line-height: normal;
    letter-spacing: 0.03em;
    margin-bottom: 0;
  }
  .container-wrapper .section-container article p, .container-wrapper .section-container article ul li, .container-wrapper .section-container article div ul li, .container-wrapper .section-container article div ol li {
    font-size: 0.7em;
  }
}
aside.container {
  border-radius: 5px;
}
aside.container header {
  font-size: 1.2rem;
  font-weight: 800;
  padding-top: 15px;
  padding-left: 3vw;
  padding-bottom: 11px;
  background-color: #200536;
  text-transform: uppercase;
  border: dashed 1.5px whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 3px 3px black, -2px -1px 3px black;
  text-shadow: 4px 4px 3px black;
}
aside.container header h5 {
  margin-left: 10px;
}
aside.container div.row {
  background-color: rgba(46, 7, 78, 0.95);
  border-radius: 5px;
}
aside.container div.row p {
  padding: 10px;
  height: max-content;
  text-align: center;
}
aside.container div.row p a {
  font-weight: bold;
  padding: 10px;
}
aside.container div.row p img {
  margin: 10px 0 10px 10px;
  width: 90%;
}

/*# sourceMappingURL=blog.css.map */
